$color2: rgb(255, 187, 0);

@mixin hoverfx($time) {
    transform: $time;
    text-shadow: 0px 1px 4px $color2;
    transition: 0.4s;
}

@media screen and (max-width: 480px) {
    .logo {
        width: 120px;
    }

    .form {
        width: 90%;
    }
}

@media screen and (min-width: 480px) and (max-width: 780px) {
    .logo {
        width: 160px;
        margin-left: 10px;
    }

    .form {
        width: 500px;
    }
}

@media screen and (min-width: 780px) and (max-width: 992px) {
    .logo {
        width: 200px;
        margin-left: 20px;
    }

    .form {
        width: 500px;
    }
}

@media screen and (min-width: 992px) {
    .logo {
        width: 220px;
        margin-left: 40px;
    }

    .nav-item {
        padding: 15px;

        &:hover {
            @include hoverfx(scale(1.05));
        }
    }

    .form {
        width: 500px;
    }
}

@media screen and (max-width: 992px) {
    .nav-item:hover {
        @include hoverfx(scale(1.003));
    }
}
