@use "mediaquerys";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sen&display=swap");

$color1: rgb(228, 175, 0);
$color2: rgb(255, 187, 0);
$color3: aliceblue;
$color4card: rgba(255, 231, 233, 0.518);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Bebas Neue", cursive;
    font-size: 20px;
    min-width: 300px;
    background-color: #111 !important;
    letter-spacing: 0.6px;
}

/* NAVBAR */

.navbar {
    padding: 0%;
    margin: 0%;
}

.ms-auto {
    margin-right: 100px;
}

/* FIN NAVBAR */

/* BANNER */

.img-container {
    width: 100%;
    max-height: 510px;
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
    }

    h1 {
        position: absolute;
        color: rgb(243, 186, 0);
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 3px 3px 2px black;
    }
}

/* FIN BANNER */

/* INDEX */

.p-container {
    margin-top: 20px;
    padding: 40px;
    text-align: justify;
    color: $color3;
}

/* FIN INDEX */

/* NOSOTROS */

h2 {
    background-color: #000;
    color: $color3;
    text-align: center;
    padding: 20px;
    margin: 0%;
    text-shadow: 0px 0px 5px $color2;
}

.perfil-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px 10px 20px 10px;
    height: auto;

    .doh img,
    .galar img {
        width: 250px;
        height: 85%;
        border: 1px solid $color3;
    }

    p {
        height: 15%;
        color: $color3;
        border: 1px solid $color3;
        text-align: center;
        justify-content: center;
        padding: 10px;
    }
}

/* FIN NOSOTROS */

/* EQUIPAMIENTO */

.nleft {
    background-size: cover;
    background-position: center;
    height: 400px;
    filter: brightness(90%);
    transition: 0.2s;

    &:hover {
        filter: brightness(110%);
        cursor: pointer;
    }
}

.row {
    h3 {
        color: $color3;
        text-align: center;
        margin-top: 60px;
    }

    ul {
        margin-left: 20px;
        padding: 30px;
        li {
            color: $color3;
        }
    }
}

.preamp {
    background-image: url(../img/preamp.jpeg);
}

.mic {
    background-image: url(../img/microfonos.jpeg);
}

.inst {
    background-image: url(../img/instrumentos.jpeg);
}

.nleft,
.nright {
    border: 1px solid $color2;
}

/* FIN EQUIPAMIENTO */

/* SERVICIOS */

.card-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 20px;

    .card {
        width: 330px;
        height: 430px;
        border-radius: 8px;
        box-shadow: 0 2px 2px $color4card;
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: all 0.25s;
        background-color: #111;

        img {
            height: 190px;
            width: auto;
        }

        h3 {
            font-weight: 600;
            color: $color3;
            margin: 30px 10px 10px 10px;
        }

        p {
            padding: 0 1rem;
            font-size: 16px;
            font-weight: 300;
            text-align: justify;
            color: $color3;
        }

        &:hover {
            transform: translateY(-15px);
            box-shadow: 0 4px 15px $color3;
        }
    }
}

/* FIN SERVICIOS */

/* CONTACTO */

.form {
    height: 450px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 30px;
}

input,
textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea {
    height: 200px;
    width: 100%;
    resize: none;
}

.submit {
    background-color: rgba(204, 156, 0, 0.916);
    color: $color3;
    padding: 20px;
    margin-bottom: 0;

    &:hover {
        cursor: pointer;
    }
}

/* FIN CONTACTO */

/* FOOTER */

footer {
    p {
        font-size: 12px;
        color: $color3;
        text-align: center;
        margin: 50px;
    }
}

/* FIN FOOTER */
